<%= image_tag @recipe.member.profile_image, class: "rounded-circle", size: "70x70" %>
<%= @recipe.member.name %>
<%= @recipe.created_at.strftime('%Y/%m/%d') %>
<%= @recipe.menu_name %>
<%= image_tag @recipe.cooking_image, size: "50x50" %>
<%= @recipe.count %>人分
<%= @recipe.material %>
<%= @recipe.process %>

<i class="fa-regular fa-thumbs-up" style="color: #787878;"></i>️<%= @recipe.recipe_favorites.count %>

<!--コメント機能-->
コメント数:<span id="comment_count"><%= @recipe.recipe_comments.count %></span>
<div id="comments">
  <%= render "admin/recipe_comments/comment", recipe: @recipe , recipe_comment: @recipe_comment %>
</div>
