<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">新規投稿</h5>
      <div class="form-body p-4">
        <%= render "public/posts/error_message", post: @post %>
        <%= form_with model: @post, url: posts_path do |f| %>
          <div class="input-group mb-4">
            <%= f.file_field :post_image, accept: "image/*" %>
          </div>
          <div class="input-group mb-4">
            <%= f.text_field :title, placeholder: "タイトル" %>
          </div>
          <div class="input-group mb-4">
            <%= f.text_area :body, placeholder: "本文", size: " 30 x 5 " %>
          </div>
          <%= f.submit "投稿する", class:"btn btn-block btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>