<%= image_tag @post.member.profile_image, size: "50x50" %>
<%= @post.member.name %>
<%= @post.created_at.strftime('%Y/%m/%d') %>
<%= @post.title %>
<% if @post.post_image.attached? %>
  <%= image_tag @post.post_image, size: "50x50" %>
<% end %>
<%= @post.body %>
<% if @post.member == current_member %>
  <%= link_to "編集", edit_post_path %>
  <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

<!--いいね機能-->
<div id="favorite_btn_<%= @post.id %>">
  <% if member_signed_in? %>
    <%= render "public/favorites/favorite", post: @post %>
  <% else %>
   ️<%= @post.favorites.count %>いいね
  <% end %>
</div>

<!--コメント機能-->
コメント数:<span id="comment_count"><%= @post.comments.count %></span>
<div id="comments">
  <%= render "public/comments/comment", post: @post , comment: @comment %>
</div>
<div id="comment-form">
  <% if member_signed_in? %>
    <%= render "public/comments/form", post: @post , comment: @comment %>
  <% end %>
</div>

<!--ブックマーク機能-->
<div id="bookmark_btn_<%= @post.id %>">
  <% if member_signed_in? %>
    <%= render "public/bookmarks/bookmark.button", post: @post %>
  <% end %>
</div>