<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">会員ID</th>
            <td><%= @member.id %></td>
          </tr>
          <tr>
            <th scope="row">氏名</th>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td><%= @member.email %></td>
          </tr>
          <tr>
            <th scope="row">会員ステータス</th>
            <td>
              <%= form_with model: @member, url: admin_member_path(@member) do |f| %>
              <%= f.radio_button :is_deleted, :false, checked: true %>
              <%= f.label :status_false, "有効" %>
              <%= f.radio_button :is_deleted, :true %>
              <%= f.label :status_true, "退会" %>
              <div class="mr-5 mt-4">
              <%= f.submit "変更を保存", class:"btn btn-success" %>
              <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
