<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">レシピ編集</h5>
      <div class="form-body p-4">
        <%= render "public/recipes/error_message", recipe: @recipe %>
        <%= form_with model: @recipe, url: recipe_path(@recipe) do |f| %>
          <div class="input-group mb-4">
            <%= f.text_field :menu_name, placeholder: "メニュー名" %>
          </div>
          <div class="input-group mb-4">
            <%= f.file_field :cooking_image, accept: "image/*" %>
          </div>
          <div class="input-group mb-4">
            <%= f.text_field :count, placeholder: "人数" %>
          </div>
          <div class="input-group mb-4">
            <%= f.text_area :material, placeholder: "材料", size: " 30 x 5 " %>
          </div>
          <div class="input-group mb-4">
            <%= f.text_area :process, placeholder: "作り方", size: " 30 x 6 " %>
          </div>
            <%= f.submit "編集内容を保存", class:"btn btn-block btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>