<div class="container">
  <div class="row">
    <div class="col-5">
      <h2>管理者ログイン</h2>
    </div>
  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <span class="ml-5">
      <%= f.label :メールアドレス, style: "width: 170px;" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </span>
  </div>

  <div class="field">
    <span class="ml-5">
      <%= f.label :パスワード, style: "width: 170px;" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </span>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <span class="ml-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </span>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-primary", style: "margin-left: 220px; margin-bottom: 30px;" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
</div>