<%= render "public/members/error_message", member: @member %>
<div class="container">
  <div class="col-7 mx-auto">
    <%= form_with model: @member, url: member_path(@member) do |f| %>
      <div class="ml-5 pl-3">
        <div class="mt-5 pt-5">
          <%= f.label :プロフィール画像, style: "width: 200px;" %>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="mt-4 mb-4">
          <%= f.label :名前, style: "width: 200px;" %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :メールアドレス, style: "width: 200px;" %>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.submit "編集内容を保存", class:"btn btn-success", style: "margin: 50px;" %>
          <%= link_to "退会する", unsubscribe_path, class:"btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
