<div class="card mx-auto" style="width: 30rem;">
  <div class="row">
    <div class="card-body">
      <%= image_tag @post.member.profile_image, class: "rounded-circle", size: "70x70" %>
      <%= @post.member.name %>
      <%= @post.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>
  <h4 class="card-title text-center">
    <%= @post.title %>
  </h4>
  <div class="card-body">
    <% if @post.post_image.attached? %>
      <%= image_tag @post.post_image, size: "460x270" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= @post.body %>
  </div>
  <div class="row">
    <div class="card-body">
<%= link_to "削除", admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>

<i class="fa-regular fa-thumbs-up" style="color: #787878;"></i>️<%= @post.favorites.count %>

<!--コメント機能-->
コメント数:<span id="comment_count"><%= @post.comments.count %></span>
<div id="comments">
<%= render "admin/comments/comment", post: @post , comment: @comment %>
</div>
</div>